html,
body,
ul,
li,
input,h2 {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
input,
button {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
}
.background {
  position: relative;
}
header {
  width: 100%;
  height: 35px;
  background: #f5f5f5;
}
header > .header-content {
  /* 居中 */
  width: 1190px;
  height: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: #6c6c6c;
}
.header-content > .side-nav-left > li {
  float: left; /* 父元素ul 出现高度塌陷 */
  height: 100%;
  padding: 0 6px;
}
/* 解决ul父元素 高度塌陷 */
.side-nav-left {
  overflow: hidden; /* 开启一个BFC */
  height: 100%;
  float: left;
}
.side-nav-left > li > div {
  height: 100%;
}
.side-nav-left > li span,
.side-nav-right > li span {
  line-height: 35px;
}
/* -----------------------------------头部右侧导航栏 */
.side-nav-right {
  overflow: hidden;
}
.side-nav-right > li {
  float: right;
  padding: 0 6px;
}
/* ----------------------------------banner样式 */
nav {
  background: url("../img/banner-bg.jpg") no-repeat;
}
.banner-outer {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.banner-logo {
  width: 80px;
  height: 80px;
  padding: 10px 5px 10px 5px;
  float: left;
}
.banner-link {
  width: 1085px;
  padding: 13px 0 9px 10px;
  position: absolute;
  left: 90px;
}
.banner-link > a {
  /* a标签是一个行内样式吗？,实现块元素的垂直居中 ,给a标签设置了inline-block之后，a标签之间的距离逐渐变大为甚？*/
  width: 209px;
  height: 75px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-right: 8px;
}
/* ------------背景 */
.side-l-bg {
  background: url("../img/side-l-bg.png") no-repeat;
  position: absolute;
  z-index: -1;
  width: 360px;
  height: 800px;
  float: left;
}
.side-r-bg {
  background: url("../img/side-r-bg.png") no-repeat;
  width: 360px;
  height: 800px;
  position: absolute;
  right: 0;
  z-index: -1;
  float: right; /* 浮动和定位：需要总结！！ */
}
/* ------------------------main样式 */
main {
  /* main被左右的浮动的背景遮住:解决：将.background设置position为relative，将两个背景设置为absolute */
  width: 1190px;
  margin: 0 auto;
  background: white;
}
.search-bar {
  /*  position: relative; */
   overflow: hidden; /* BFC */
   height: 150px;
  padding-top: 15px;
}
.search-bar::after {
  content: "";
  display: block;
  clear: both;
}
/* .search-bar::after{
    content: "";
    display: block;
    clear: both;
} */
.search-bar > .gif-a {
  float: left;
  width: 80px;
  height: 80px;
}
.search {
  /*  position: absolute;
    top: 0;
    left: 120px; */
  margin-left: 218px;
  margin-right: 145px;
  margin-top: 30px;
}
.search-section {
  height: 22px;
  padding-left: 20px;
}
.search-section:after {
  /* 清除li浮动导致的高度塌陷 ,zoom是什么*/
  content: "";
  display: block;
  clear: both;
}
.search-section > li {
  color: white;
  font-weight: 700;
  width: 36px;
  height: 22px;
  float: left;
  line-height: 22px;
  margin-right: 4px;
  text-align: center;
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  background-repeat: repeat-x;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
/* ------------------------------------input搜索框 */
.input-outer {
  width: 625px;
  border: 2px solid #ff5000;
  border-radius: 20px;
  height: 36px;
  position: relative;
  /*    overflow: hidden; */
}
.search-form {
  /* form是块元素，当父元素没有指定高度时，子元素无法使用height：100%继承父元素的告诉 */
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}
.input-outer input {
  outline: none;
  /*    display: inline-block; */
  height: 100%;
  margin-left: 15px;
  /*   position: absolute; */
  /*  top: 50%;
    transform: translateY(-50%); */
  width: 500px;
  border-width: 0px;
}
.search-form > .search-btn {
  background-image: linear-gradient(to right, #ff9000, #ff5000);
  border-width: 0;
  height:40px;
  width: 74px;
  border: none;
  position: absolute;
  z-index: 10;
  top: -2px;
  right: -2px;
  /*   border-bottom: 2px solid #ff5000;
   border-top: 2px solid #ff5000; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-btn>button{
    color: white;
    background-color:transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 800;
}
/* ---------------------------------title-List */
.title-bar{
  position: relative;
}
.inner-title-bar{
  overflow: hidden;
  height: 30px;
  background-image: linear-gradient(to right, #ff9000, #ff5000);
  line-height: 30px;
}
.main-title{
  float: left;
}
.title-list{
  float: left;
}
.title-list>li{
  float: left;
}
.title-list:after{
content: "";
display: block;
clear: both;
}