
html,body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.background{

}
header{
    width: 100%;
    height: 35px;
    background: #f5f5f5;
}
header>.header-content{
    /* 居中 */
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    color: #6C6C6C;
}
.header-content>.side-nav-left>li{
    float: left;/* 父元素ul 出现高度塌陷 */
    height: 100%;
    padding: 0 6px;
}
/* 解决ul父元素 高度塌陷 */
.side-nav-left{
    overflow: hidden;/* 开启一个BFC */
    height: 100%;
    float: left;
}
.side-nav-left>li>div{
    height: 100%;
}
.side-nav-left>li span,.side-nav-right>li span{
    line-height: 35px;
}
/* -----------------------------------头部右侧导航栏 */
.side-nav-right{
    overflow: hidden;
}
.side-nav-right>li{
    float: right;
    padding: 0 6px;
}
/* ----------------------------------banner样式 */
nav{
    background: url('../img/banner-bg.jpg') no-repeat;
}
.banner-outer{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.banner-logo{
    width: 80px;
    height: 80px;
    padding: 10px 5px 10px 5px;
    float: left;
}
.banner-link{
    width: 1085px;
    padding:13px 0 9px 10px;
    position: absolute;
    left: 90px;

}
.banner-link>a{/* a标签是一个行内样式吗？,实现块元素的垂直居中 ,给a标签设置了inline-block之后，a标签之间的距离逐渐变大为甚？*/
    width: 209px;
    height: 75px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 8px;
}
/* ------------------------main样式 */
main{
    width: 1190px;
    margin:0 auto;
    background: white;
}